<div class="container-header">
  <div class="header">
    <div class="logo">
      <a href="#">

        <img src="../../../assets/images/home/logo.png" alt="Home">
      </a>
    </div>
    <div class="menu-header">
      <button (click)="onHomeClick()" type="button" class="btn btn-link">

        Home
      </button>
      <button (click)="onAboutClick()" type="button" class="btn btn-link">

        About
      </button>
      <button (click)="onPortfolioClick()" type="button" class="btn btn-link">

        Portfolio
      </button>
      <button (click)="onBlogClick()" type="button" class="btn btn-link">

        Blog
      </button>
      <button (click)="onContactClick()" type="button" class="btn btn-link">

        Contact
      </button>
      <button type="button" class="btn btn-link">

        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
