<div class="footer">
  <div class="logo">
    <a href="#">

      <img src="../../../assets/images/home/logo.png" alt="Logo">
    </a>
  </div>
  <div class="social-networks">
    <button class="btn btn-link">

      <i class="fa fa-facebook"></i>
    </button>
    <button class="btn btn-link">

      <i class="fa fa-google-plus"></i>
    </button>
    <button class="btn btn-link">

      <i class="fa fa-twitter"></i>
    </button>
    <button class="btn btn-link">

      <i class="fa fa-linkedin"></i>
    </button>
    <button class="btn btn-link">

      <i class="fa fa-telegram"></i>
    </button>
    <button class="btn btn-link">

      <i class="fa fa-youtube"></i>
    </button>
    <button class="btn btn-link">

      <i class="fa fa-instagram"></i>
    </button>
  </div>
  <div class="information">
    <p>© 2016 <span>Mulitix Theme</span> by ThemeForces. All Rights Reserved.</p>
  </div>
</div>
